-e git+https://github.com/marksibrahim/knowledge_search@a5757b3dd09fc15a7c17533c17463286cc3eb995#egg=knowledge_search
numpy==1.11.0
pandas==0.18.1
py==1.4.31
py2neo==3
pytest==2.9.2
python-dateutil==2.5.3
pytz==2016.4
six==1.10.0
